        <div class="col-md-6" id="weather-info">
          <div class="card">
            <div class="card-header bg-info"> Weather for <b><%= @location.name %></b>... <%= @weather_info.weather_time %></div>
            <div class="card-body bg-light">
              <div class="table-responsive">
                <table class="table table-sm">
                  <tbody>
                    <tr>
                      <td>Temperature:</td>
                      <td><%= @weather_info.temperature %></td>
                    </tr>
                    <tr>
                      <td>Feels like:</td>
                      <td><%= @weather_info.feels_like %></td>
                    </tr>
                    <tr>
                      <td>Sky:</td>
                      <td><%= @weather_info.weather_type %></td>
                    </tr>
                    <tr>
                      <td>Sunrise:</td>
                      <td><%= @weather_info.sunrise %></td>
                    </tr>
                    <tr>
                      <td>Sunset:</td>
                      <td><%= @weather_info.sunset %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered ">
              <thead class="thead-dark">
                <tr>
                  <th colspan="2">Forecast</th>
                  <th>High</th>
                  <th>Low</th>
                </tr>
              </thead>
              <tbody>
                <% @weather_info.weather_forecasts.each do |forecast| %>
                <tr id="forecast-<%= forecast.forecast_date.delete(' ') %>">
                  <td><%= forecast.day_name %></td>
                  <td><%= forecast.weather_type %></td>
                  <td><%= forecast.temperature_high %></td>
                  <td><%= forecast.temperature_low %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>