<%= form_with(model: location, local: true) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @location.id %>
    <p>
      <strong>Id:</strong>
      <%= @location.id %>
    </p>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :yahoo_id %>
    <%= form.text_field :yahoo_id %>
  </div>

<br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<br>